.Cheesepic {
  background-image: url(../Assets/cheese1.jpeg);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  border: maroon solid 5px;
  border-radius: 150px;
}
